.A{
    
    background-color: rgb(192, 170, 132);
    height: 500px;
    width: 80%;
    border-width: 1px;
   

}
.a{
    background-color: rgb(238, 11, 11);
    height: 30px;
    width: 20%;
    border-width: 1px;
    float: left;

}
.b{
    background-color:rgb(255, 255, 255);
    float: left;
    height:30px;
    width: 20%;
    border-width: 1px;
}
.c{
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 20%;
    float: left;
}
.d{
    background-color: rgb(64, 0, 255);
    height: 60px;
    width: 40;
    
}